.App {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

/* HEADER TRANSPARENCY*/
.ui.inverted.menu {
    background: rgba(0, 0, 0, 0);
}

/* HEADER FONT COLOR */
.ui.secondary.inverted.pointing.menu .item {
  color: #1b1c1d;
}

.ui.secondary.inverted.menu .link.item, .ui.secondary.inverted.menu a.item {
  color: rgba(0,0,0,.87)!important;
}

.ui.secondary.inverted.menu .active.item {
  color: rgba(0,0,0,.87)!important;
}

.ui.inverted.menu .item, .ui.inverted.menu .item>a:not(.ui) {
  color: rgba(0,0,0,.87)
}

.a {
  color: rgba(0,0,0,.87)!important;
}

.member_profile_container {
	display: grid;
	grid-template-columns: 2fr 4fr;
}

.section_profile_container {
	display: grid;
	grid-template-columns: 2fr 4fr 2fr;
}

.home_top_header {
  height: 600px;
  background-image: url('https://images.unsplash.com/photo-1521623866472-d27232650c9e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6704c159d61c6a995fb741b0ee898d88&auto=format&fit=crop&w=1540&q=80');
  background-position: center;
  background-size: cover;
}

.section_container {
  margin-top: 30px;
}

.search_form {
	width: 25%;
	margin: 0 auto;
  margin-top: 30px;
	padding: 100px 0;
}

.section_profile_topheader {
  height: 300px;
  background-image: url('http://images.unsplash.com/photo-1528396518501-b53b655eb9b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9&s=9637da22b65c3bd041d31ff0fdd3700a');
  background-position: center;
  background-size: cover;
}

.ui.menu {
	margin: 0;
}

.ui.icon.input input {
	width: 100%;
}

.ui.large.input {
  width: 100%;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
